body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #656669, #818588, #9fa6a6, #c1c8c4, #e7e9e2);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    #card {
        width: 55%;
        height: auto;
    }
}

@media (min-width: 992px) {

    #card {
        width: 55%;
        height: auto;


    }

    #container {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    #card {
        width: 55%;
        height: auto;


    }

    #container {
        width: 10%;
        height: auto;
    }
}